body { padding-top: 50px; padding-bottom: 20px; }
.clear { clear: both;}
.overauto { overflow: auto; }
.well:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

















